@charset "utf-8";

*{
    font-family: 'Noto Sans KR', sans-serif;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #107bd3;
    padding-bottom: 5px;
    color: white;
}
body {
    background: #ffffff;
    margin: 0;
    padding-top: 100px;
  }

  footer{
background: #575757;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

li {
    margin: 0 0 0 0;
    padding: 0 15px 0 0;
    border : 0;
    float: left;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

.headnav{
    display: flex;
    align-items: center;
}


.mainframe{
    display: flex;
    width: 100%;
}
.maincont{
    min-width: 600px;
}
.sidebar-a{
    width: 15%;
    display: flex;
    float: left;
}
.sidebar-b{
    width: 15%;
    display: flex;
    float: left;
}

.leftmenu {
    min-width: 500px;
    float:left;
    padding-right: 15px;
}
.rightmenu {
    float:right;
    margin-right: 0;
    padding-right: 5px;
    position: fixed;
    right: 0px;
}
.desktopview{
    display: inline;
}
.mobileview {
    display: none;
}

@media screen and (max-width: 600px){
    .mobileview {
        display: inline;
    }
    .desktopview{
        display: none;
    }
}
